<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180554137103-6ldk3vkn1d4lj8f1e190513uctmloeim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180554137103-6ldk3vkn1d4lj8f1e190513uctmloeim</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>180554137103-ds406e4vsrd6upbrn0dhkr44crhbp048.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1ONCmXvhWB9OcKNIq3teyxLfXyVbk5MA</string>
	<key>GCM_SENDER_ID</key>
	<string>180554137103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Alaan.Umaass</string>
	<key>PROJECT_ID</key>
	<string>umaassuser</string>
	<key>STORAGE_BUCKET</key>
	<string>umaassuser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180554137103:ios:ba5c73682c20ad251f6d7a</string>
	<key>DATABASE_URL</key>
	<string>https://umaassuser.firebaseio.com</string>
</dict>
</plist>